/* For mobile phones: */

/*section-search-select*/
.section-search-select {
  margin: 2rem 1rem;
  height: 4rem;
  padding: 5px;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 2rem;
}
.search-container {
  height: 2rem;
  display: inline-block;
}
.search-container img {
  position: absolute;
  width: 1.8rem;
  top: 7rem;
  left: 2rem;
}
input {
  font-size: 14px;
  display: block;
  padding: 15px 10px 15px 45px;
  width: 100%;
  box-sizing: border-box;
  border: 1px solid #f1f1f1f1;
  color: #555;
  border-radius: 5px;
  outline: none;
}

select {
  font-size: 14px;
  position: relative;
  width: 60rem;
  padding: 18px 10px 18px 20px;
  width: 100%;
  box-sizing: border-box;
  border: 1px solid #ddd;
  color: #555;
  border-radius: 5px;
}
select,
option {
  position: relative;
  margin-top: 1rem;
}
.card-container {
  position: relative;
  margin-top: 5rem;
}
/*country detail*/
.detail-container {
  height: auto;
  margin: 1rem 1.5rem;
}

.country-flag img {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  width: 100%;
  height: 10rem;
  cursor: pointer;
}
.country-description {
  margin: 1rem;
}
.country-description p {
  font-weight: 600;
  text-align: left;
  padding: 0.3rem 0;
}
.country-description p span {
  font-weight: normal;
  color: #555;
}
.country-description .country-title {
  padding: 1rem 0;
  font-size: 1.2rem;
  font-weight: 800;
}
.detail-flag img {
  width: 16.8rem;
  height: 12rem;
}
.detail-content {
  margin-top: 3rem;
}

.section-one p {
  padding: 0.3rem 0;
  font-weight: 600;
}
.section-one p span {
  padding: 0.3rem 0;
  font-weight: normal;
}
.section-one .country-title {
  padding: 1rem 0;
  font-size: 1.2rem;
  font-weight: 800;
}
.section-two {
  margin: 1rem 0;
}
.section-two p {
  padding: 0.3rem 0;
  font-weight: 600;
}
.section-two p span {
  padding: 0.3rem 0;
  font-weight: normal;
}
/*Border area*/
.border-title {
  padding: 0.5rem 0;
  font-size: 1.2rem;
  font-weight: 600;
}
.btn-border-container {
  display: inline-block;
}
/*country detail*/
/*select-container*/

/* Remove extra left and right margins, due to padding */
.row {
  margin: 0 -5px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
.column {
  width: 100%;
  display: block;
  margin-bottom: 20px;
}
/* Style the counter cards */
.card {
  height: auto;
  min-height: 22rem;
  margin: 0.5rem 3.1rem;
  border: 1px solid #eee;
  border-radius: 5px;
  text-align: center;
  background-color: #f1f1f1;
}

@media only screen and (min-width: 600px) {
  /* For tablets: */
}

@media only screen and (min-width: 768px) {
  /* For desktop: */
}
