:root {
  --background-color: hsl(0, 0%, 98%);
  --font-text: hsl(200, 15%, 8%);
  --element: hsl(0, 0%, 100%);
}

.theme-dark {
  --background-color: hsl(207, 26%, 17%);
  --font-text: hsl(0, 0%, 100%);
  --element: hsl(209, 23%, 22%);
}
